  #upload-container {
    margin-bottom: 10px;
    margin-left: 900px;
    margin-top: 50px;
  }

  #upload-container button {
    padding: 10px 20px;
    font-size: 20px; 
    color: #ffffff;
    background-color: #c41212;
    text-decoration: none;
    border-radius: 5px;
    border: none; 
    outline: none;
    
  }

  #image-input::file-selector-button {
    font-size: 20px;
    color: #ffffff;
    background-color: #c41212;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px; 
    text-decoration: none;
    border-radius: 5px;
    border: none; 
    outline: none;
  }
  


  #download-button {
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #c41212;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  #image-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  /* .uploaded-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    filter: brightness(100%) saturate(50%) sepia(100%) hue-rotate(312deg);
  } */

  input[type="file"]{
    color: transparent;
  }

  #brush {
    fill: rgb(168, 3, 3);
    width: 70px;
    height: 70px;

  }